.main {
  margin: 10px;
}

.categoryCard {
  border: 1px solid #dedede;
  width: 100%;
  /*min-height: 180px;*/
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.categoryHead {
  height: fit-content;
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding: 5px;
  display: flex;
}

.categoryDescription {
  font-size: 11px;
  padding: 5px;
}

.categoryIcon {
  width: 20px;
  margin-left: 5px;
}

.separator {
  border-top: 1px solid #dedede;
  width: 50%;
}

.imagesContainer {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.categoryImageExample {
  width: 50px;
  height: 50px;
}

.continueBtn {
  border: none;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  color: var(--text-color);
}
